:root {
  --rich-black-fogra-39: #06070eff;
  --brunswick-green: #29524aff;
  --artichoke: #94a187ff;
  --khaki-web: #c5afa0ff;
  --baby-pink: #e9bcb7ff;
}
body {
  background: var(--baby-pink);
  color: var(--rich-black-fogra-39);
}

header {
  background: var(--artichoke);
  text-align: center;
  padding: 15px;
}

section {
  background: var(--khaki-web);
}
